{% include 'job/header.html' %}
<section class="ftco-section bg-light">
<div class="container-fluid">




           <form action="jobpage"  method="post">
               {% csrf_token %}

                <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" >Job Title</label>
                  <input type="text" name="jtitle" value="{{details.jtitle}}"  class="form-control" readonly >
                </div>
              </div>

              <div class="row form-group mb-5">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" >Company</label>
                  <input type="text" name="jcompany" value="{{details.jcname}}"  class="form-control" readonly>
                </div>
              </div>


              <div class="row form-group mb-5">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" >Job Type</label>
                  <input type="text" name="jobtype" value="{{details.jobtype}}"  class="form-control" readonly>
                </div>
              </div>




              <div class="row form-group mb-5">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" >State</label>
                  <input type="text" name="jstate" value="{{details.jstate}}"  class="form-control" readonly >
                </div>
              </div>

              <div class="row form-group mb-5">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" >District</label>
                  <input type="text" name="jdistrict" value="{{details.jdistrict}}"  class="form-control" readonly >
                </div>
              </div>

              <div class="row form-group mb-5">
                  <div class="col-md-12 mb-3 mb-md-0">
                <label class="font-weight-bold" >Job Description</label>

                  <textarea name="jdesc" class="form-control" readonly  id="" cols="30" rows="5">{{details.jdesc}}</textarea>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input  type="submit" name="btn-submit" value="Apply" class="btn btn-primary  py-2 px-5">
                </div>
              </div>


            </form>

          </div>
</section>
{% include 'job/footer.html' %}